<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container mainContainer">
    <% if(campgrounds.length != 0 || users.length != 0){ %>
        <h6 class="float-right mt-3">
            <% if(users.length){ %>
            <%=users.length%> user(s)    
            <% } %>
            <% if(campgrounds.length){ %>
                <%=campgrounds.length%> campground(s)
            <% } %>
        </h6>
        <h1><%=q%></h1>
        <div class="row my-4">
            <% users.forEach((user)=>{ %>
            <div class="col-lg-4 col-md-6">
            <a href="/users/<%=user._id%>">
                <div class="userCard my-2 bg-light">
                    <div class="media p-3">
                        <img class="align-self-center mr-3 rounded-circle" src="<%=user.photo%>">
                        <div class="media-body">
                            <h5 class="mt-0">
                            <a href="/users/<%=user._id%>"
                            <% if(user.isAdmin){ %>
                                class="admin"
                            <%}%>
                            >
                                <%=user.name%></a>
                            </h5>
                            <p class="d-inline-block mb-0">
                                <%=user.bio.substring(0,24)%> ...
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <% }) %>
        </div>
        <% if(campgrounds.length && users.length){ %>
            <hr>
        <% } %>
        <div class="row my-4">
            <% campgrounds.forEach((campground)=>{ %>
            <div class="col-xl-3 col-lg-4 col-md-6">
            <a href="/campgrounds/<%=campground._id%>">
                <div class="card campgroundCard my-2">
                    <img class="card-img-top" src="<%=campground.image%>">
                    <div class="cardHover">
                        <div class="likesHover">
                        <% if(campground.likes.length){ %>
                            <%=campground.likes.length%> <i class="fas fa-heart"></i>
                        <% } %>
                        <% if(campground.comments.length){ %>
                            <%=campground.comments.length%> <i class="far fa-comment-alt"></i>
                        <% } %>
                        </div>
                        <div class="nameHover">
                            <h2><%=campground.name%></h2>
                        </div>
                        <div class="authorHover">
                            <img src="<%=campground.author.photo%>" class="photoHover">
                            <%=campground.author.name%>
                        </div>
                    </div>
                    <div class="card-body text-dark p-1 bg-light d-lg-none d-block">
                        <h5 class="card-title text-center m-0">
                            <%=campground.name%>
                        </h5>
                    </div>
                </div>
            </a>
            </div>
            <% }) %>
        </div>
    <% }else{ %>
        <h1 class="text-center mt-4">No results found!</h1>
    <% } %>
</div>

<% include ./partials/footer %>