<% include ../partials/header %>
<% include ../partials/navbar %>

<form class="card card-body createCampgroundPanel bg-light" action="/campgrounds/<%=campground._id%>?_method=PUT"
    method="POST">
    <h1 class="text-center">Edit campground</h1>
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" name="campground[name]" value="<%=campground.name%>"
            required>
    </div>
    <div class="form-group">
        <label for="imageInput">Image</label>
        <input type="text" class="form-control" id="imageInput" name="campground[image]" value="<%=campground.image%>"
            required>
    </div>
    <div class="form-group">
        <label for="descriptionInput">Description</label>
        <input type="text" class="form-control" id="descriptionInput" name="campground[description]" value="<%=campground.description%>"
            required>
    </div>
    <div class="form-group">
        <label for="priceInput">Price</label>
        <input type="number" class="form-control" id="priceInput" name="campground[price]" min="0.01" step="0.01" value="<%=campground.price%>">
    </div>
    <div class="form-group my-4 text-center">
        <input class="btn btn-success" type="submit">
    </div>
</form>

<% include ../partials/footer %>