<% include ../partials/header %>
<% include ../partials/navbar %>

<form class="card card-body createCampgroundPanel bg-light" action="/campgrounds/<%=campground._id%>?_method=PUT"
    method="POST">
    <h1 class="text-center">Edit campground</h1>
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" name="campground[name]" value="<%=campground.name%>"
            required>
    </div>
    <div class="form-group">
        <label for="imageInput">Image</label>
        <input type="text" class="form-control" id="imageInput" name="campground[image]" value="<%=campground.image%>"
            required>
    </div>
    <div class="form-group">
        <label for="descriptionInput">Description</label>
        <input type="text" class="form-control" id="descriptionInput" name="campground[description]" value="<%=campground.description%>"
            required>
    </div>
    <div class="form-group">
        <label for="locationInput">Location</label>
        <input type="text" class="form-control" id="locationInput" name="location" value="<%=campground.location%>"
            required>
    </div>
    <div class="form-group">
        <label for="websiteInput">Website</label>
        <input type="text" class="form-control" id="websiteInput" name="campground[website]" value="<%=campground.website%>">
    </div>
    <div class="form-group">
        <label for="telephoneInput">Telephone</label>
        <input type="text" class="form-control" id="telephoneInput" name="campground[telephone]" value="<%=campground.telephone%>" required>
    </div>
    <div class="form-group">
        <label for="priceInput">Price</label>
        <input type="number" class="form-control" id="priceInput" name="campground[price]" min="0.01" step="0.01" value="<%=campground.price%>">
    </div>
    <div class="form-group">
        <label for="priceInput">Hours</label>
        <div class="card">
            <div class="card-header p-1" id="hoursHeading">
                <h5 class="mb-0">
                    <a class="btn btn-link text-truncate text-left d-block"  data-toggle="collapse" data-target="#hoursCollapse" aria-expanded="true" aria-controls="hoursCollapse">Select business hours
                </a>
                </h5>
            </div>
            <div id="hoursCollapse" class="collapse show" aria-labelledby="hoursHeading">
                <div class="card-body py-2">
                    <% for(var day of weekdays){ %>
                        <% if(day != 'Sunday'){ %>
                            <hr class="my-2">
                        <% } %>
                        <div class="w-50 d-inline-block">
                            <input type="checkbox" class="form-check-input ml-1" name="dayCheck[<%=day%>]"
                            <% if(campground.hours[day]){ %>
                                checked
                            <% } %>
                            >
                            <label class="my-0 mx-4"><%=day%></label>
                        </div>
                        <div class="w-50 d-inline">
                            <select class="form-control d-inline-block" name="dayOpenTime[<%=day%>]">
                            <% for(var h=6;h<12;h+=0.5){ %>
                                <option value="<%=h%>"
                                <% if(campground.hours[day] && campground.hours[day].open == h.toString()){ %>
                                    selected
                                <% } %>
                                ><%=h.toString().toTime()%></option>
                            <% } %>
                            </select>
                                - 
                            <select class="form-control d-inline-block" name="dayCloseTime[<%=day%>]">
                            <% for(var h=12;h<23;h+=0.5){ %>
                                <option value="<%=h%>"
                                <% if(campground.hours[day] && campground.hours[day].close == h.toString()){ %>
                                    selected
                                <% } %>
                                ><%=h.toString().toTime()%></option>
                            <% } %>
                            </select>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-4 text-center">
        <input class="btn btn-success" type="submit">
    </div>
</form>

<% include ../partials/footer %>