<% include ../partials/header %>


<h1 class="text-center my-4">YelpCamp</h1>
<div class="container">
<div class="alertForm">
    <% include ../partials/alerts %>
</div>
<div class="bg-light createCampgroundPanel">
    <form action="/campgrounds" method="POST" enctype="multipart/form-data">
        <h2>Create a campground</h2>
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" name="campground[name]" placeholder="Yosemite" required>
        </div>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="imageInput" name="image" accept="image/*" required>
            <label class="custom-file-label" for="imageInput">Choose photo</label>
        </div>
        <div class="form-group">
            <label for="descriptionInput">Description</label>
            <input type="text" class="form-control" id="descriptionInput" name="campground[description]" placeholder="This is the best mountain ever!" required>
        </div>
        <div class="form-group">
            <label for="locationInput">Location</label>
            <input type="text" class="form-control" id="locationInput" name="location" placeholder="1100 Saint-Catherine" required>
        </div>
        <div class="form-group">
            <label for="websiteInput">Website</label>
            <input type="text" class="form-control" id="websiteInput" name="campground[website]" placeholder="yosemite.com">
        </div>
        <div class="form-group">
            <label for="telephoneInput">Telephone</label>
            <input type="text" class="form-control" id="telephoneInput" name="campground[telephone]" placeholder="(514) 123 4567" required>
        </div>
        <div class="form-group">
            <label for="priceInput">Price</label>
            <input type="number" class="form-control" id="priceInput" name="campground[price]" min="0.01" step="0.01" value="9.00" required>
        </div>
        <div class="form-group">
            <label for="priceInput">Hours</label>
            <div class="card">
                <div class="card-header p-1" id="hoursHeading">
                    <h5 class="mb-0">
                        <a class="btn btn-link text-truncate text-left d-block"  data-toggle="collapse" data-target="#hoursCollapse" aria-expanded="true" aria-controls="hoursCollapse">Select business hours
                    </a>
                    </h5>
                </div>
                <div id="hoursCollapse" class="collapse show" aria-labelledby="hoursHeading">
                    <div class="card-body py-2">
                        <% for(var day of weekdays){ %>
                            <% if(day != 'Sunday'){ %>
                                <hr class="my-2">
                            <% } %>
                            <div class="d-inline-block">
                                <input type="checkbox" class="form-check-input ml-1" name="dayCheck[<%=day%>]">
                                <label class="my-0 ml-4 mr-3"><%=day%></label>
                            </div>
                            <div class="d-inline float-right">
                                <select class="form-control d-inline-block" name="dayOpenTime[<%=day%>]">
                                <% for(var h=6;h<12;h+=0.5){ %>
                                    <option value="<%=h%>"><%=h.toString().toTime()%></option>
                                <% } %>
                                </select>
                                 - 
                                <select class="form-control d-inline-block" name="dayCloseTime[<%=day%>]">
                                <% for(var h=12;h<23;h+=0.5){ %>
                                    <option value="<%=h%>"><%=h.toString().toTime()%></option>
                                <% } %>
                                </select>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center my-0 mt-4">
            <input class="btn btn-success" type="submit">
        </div>
    </form>
</div>
<a class="text-center d-block my-3" href="<%=back%>">Go back</a>
</div>

<% include ../partials/footer %>