<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alerts %>

<div class="alert alert-danger d-none" id="errorAlert"></div>

<div class="row">
    <div class="col-md-3 d-none d-lg-block">
        <div class="card">
            <div class="card-header p-1" id="addressHeading">
                <h5 class="mb-0">
                    <a class="btn btn-link text-truncate text-left d-block"  data-toggle="collapse" data-target="#mapCollapse" aria-expanded="true" aria-controls="mapCollapse">
                    <i class="fas fa-map-marker-alt"></i> <%=campground.location%>
                </a>
                </h5>
            </div>
            <div id="mapCollapse" class="collapse show" aria-labelledby="addressHeading">
                <div class="card-body" id="map"></div>
            </div>
        </div>
        <!-- Website -->
        <% if(campground.website){ %>
            <div class="card card-header p-1 mt-3">
                <a class="btn text-truncate text-left text-dark d-block" href="http://<%=campground.website%>">
                <i class="fas fa-globe-americas"></i> <%=campground.website%></a>
            </div>
        <% } %>
        <!-- Telephone -->
        <div class="card card-header p-1 mt-3">
            <a class="btn btn-link text-truncate text-left d-block">
            <i class="fas fa-phone"></i> <%=campground.telephone%></a>
        </div>
        <!-- hours -->
        <div class="card mt-3">
            <div class="card-header p-1" id="hoursHeading">
                <h5 class="mb-0">
                    <a class="btn btn-link text-truncate text-left d-block"  data-toggle="collapse" data-target="#hoursCollapse" aria-expanded="true" aria-controls="hoursCollapse">
                    <i class="fas fa-clock"></i> 
                    <% var now = new Date()%>
                    <% var period = campground.hours[weekdays[now.getDay()]] %>
                    <% if(campground.hours[weekdays[now.getDay()]] && now.inPeriod(period.open,period.close)){ %>
                        Open now
                    <% }else{ %>
                        Closed
                    <% } %>
                </a>
                </h5>
            </div>
            <div id="hoursCollapse" class="collapse" aria-labelledby="hoursHeading">
                <div class="card-body py-2">
                    <% for(var day of weekdays){ %>
                    <% if(day != 'Sunday'){ %>
                        <hr class="my-2">
                    <% } %>
                    <p class="w-50 d-inline-block m-0"><%=day%></p>
                    <% if(campground.hours[day]){ %>
                        <p class="w-50 d-inline"><%=campground.hours[day].open.toTime()%> - <%=campground.hours[day].close.toTime()%></p>
                    <% }else{ %>
                        <p class="w-50 d-inline">Close.</p>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- Rating -->
        <div class="card mt-3">
            <% if(campground.ratings){ %>
            <div class="card-body">
                <h1 class="text-center" id="ratingAverage">
                    <%=campground.ratings.average%>
                </h1>
                <div class="mt-0 text-center">
                <% for(var i=1;i<=5;i++){ %>
                    <% if(i<=Math.round(campground.ratings.average)){ %>
                        <i class="fas fa-star"></i>
                    <% }else{ %>
                        <i class="far fa-star"></i>
                    <% } %>
                <% } %>
                </div>
                <div class="text-center">Based on <span id="ratingNumber">
                    <%=campground.ratings.number%>
                </span> review(s)</div>
            </div>
            <% } %>
            <% if(currentUser){ %>
            <div class="card-header" id="ratingHeading">
                <div class="text-center" id="userRating">
                    <% for(var i=1;i<=5;i++){ %>
                        <% if(campground.ratings && i<=Math.round(campground.ratings[currentUser._id.toString()])){ %>
                            <a href="/campgrounds/<%=campground._id%>/ratings"><i class="fas fa-star" data-value='<%=i%>'></i></a>
                        <% }else{ %>
                            <a href="/campgrounds/<%=campground._id%>/ratings"><i class="far fa-star" data-value='<%=i%>'></i></a>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="col-lg-9 col-12">
        <div class="card">
            <img class="card-img-top" src="<%=campground.image%>">
            <div class="card-body">
                <h5 class="float-right">$<%=campground.price%>/night</h5>
                <h4 class="card-title">
                    <%=campground.name%>
                </h4>
                <div class="card-text">
                    <%=campground.description%>
                </div>
                <% if(currentUser){ %>
                    <% if(campground.author._id.equals(currentUser._id)){ %>
                        <form class="d-inline float-right mt-2" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-link" type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>
                        <a class="btn btn-link float-right mt-2" href="/campgrounds/<%=campground._id%>/edit"><i class="fas fa-edit"></i></a>
                    <% }else{ %>
                        <div class="reaction mt-3 mr-2 float-right">
                            <a id="likeButton" href="/campgrounds/<%=campground._id%>/likes">
                            <% if(campground.likes.indexOf(currentUser._id) == -1){ %>
                                Like <i class="far fa-heart"></i>
                            <% }else{ %>
                                <%=campground.likes.length%> likes <i class="fas fa-heart"></i>
                            <% } %>
                            </a>
                        </div>
                    <% } %>
                <% } %>
                <p class="mt-3"><em>Created by <strong>
                            <a href="/users/<%=campground.author._id%>">
                                <%=campground.author.name%></a></strong>
                        <%=campground.created.toAgo()%></em></p>
            </div>
        </div>
        <!-- COMMENTS -->
        <div class="card card-body my-4 bg-light">
            <div class="text-right">
                <a class="btn btn-success" id="addCommentButton" href="/campgrounds/<%=campground._id%>/comments/new">Add
                    new comment</a>
                <h5 class="float-left my-1">Comments</h5>
            </div>
            <hr>
            <div id="newForm" class="d-none">
                <form class="form mb-3" id="submitCommentForm" style="display:flex" action="/campgrounds/<%=campground._id%>/comments" method="POST">
                    <input type="text" class="form-control" id="textInput" name="comment[text]" placeholder="Enter your comment here" required>
                    <input class="btn btn-success ml-3" type="submit">
                </form>
            </div>
            <% if(campground.comments.length > 0){ %>
            <% campground.comments.forEach((comment)=>{ %>
            <div class="media">
                <img class="mr-3 rounded-circle my-2" src="<%=comment.author.photo%>">
                <div class="media-body">
                    <div class="modifyButton float-right">
                        <%=comment.created.toAgo()%>
                        <% if(currentUser && comment.author._id.equals(currentUser._id)){ %>
                        <br class="my-2">
                        <a id="<%=comment._id%>" class="btn btn-link" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit"><i class="fas fa-pencil-alt"></i></a>
                        <form class="d-inline mr-2" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-link" type="submit"><i class="fas fa-times"></i></button>
                        </form>
                        <% } %>
                    </div>
                    <h5 class="mt-0">
                        <a href="/users/<%=comment.author._id%>"
                        <% if(comment.author.isAdmin){ %>
                            class="admin"
                        <%}%>
                        >
                            <%=comment.author.name%></a>
                    </h5>
                    <p class="d-inline-block">
                        <%=comment.text%>
                    </p>
                </div>
            </div>
            <div id="editForm_<%=comment._id%>" class="d-none">
                <form class="form mb-2" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=PUT" method="POST" style="display:flex">
                    <input type="text" class="form-control" id="textInput_<%=comment._id%>" name="comment[text]" value="<%=comment.text%>" required>
                    <input class="btn btn-success ml-3" type="submit">
                </form>
            </div>
            
            <% }) %>
            <% }else{ %>
            <p>No comments found! Be the first person</p>
            <% } %>
        </div>
    </div>
</div>

<script>
    function initMap(){
        var lat = <%=campground.lat%>;
        var lng = <%=campground.lng%>;
        var center = {lat:lat,lng:lng};
        var map = new google.maps.Map(document.getElementById('map'),{
            zoom:12,
            center:center,
            scrollwheel:false,
            disableDefaultUI:true,
        });
        var contentString = `
            <strong><%=campground.name%><br />
            <%=campground.location%></strong>
            <p><%=campground.description%></p>
        `
        var infowindow = new google.maps.InfoWindow({
            content:contentString,
        });
        var marker = new google.maps.Marker({
            position:center,
            map:map,
        });
        marker.addListener('click',function(){
            infowindow.open(map,marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH0BO3hfiIG3FqLyFa577XcVo1RrztZGw&callback=initMap"></script>

<% include ../partials/footer %>