<% include ../partials/header %>

<div class="row">
    <div class="col-md-3 d-none d-md-block">
        <p class="lead">YelpCamp</p>
        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
    </div>
    <div class="col-md-9 col-12">
        <div class="card">
            <img class="card-img-top" src="<%=campground.image%>">
            <div class="card-body">
                <h5 class="float-right">$
                    <%=campground.price%>/night</h5>
                <h4 class="card-title">
                    <%=campground.name%>
                </h4>
                <div class="card-text">
                    <%=campground.description%>
                </div>
                <p class="mt-3"><em>Created by <strong>
                            <a href="/users/<%=campground.author._id%>">
                                <%=campground.author.name%></a></strong>
                        <%=campground.created.toAgo()%></em></p>
                <% if(currentUser && campground.author._id.equals(currentUser._id)){ %>
                <hr>
                <div class="mt-2">
                    <a class="btn btn-success btn-sm" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                    <form class="d-inline float-right" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                    </form>
                </div>
                <% } %>
            </div>
        </div>
        <!-- COMMENTS -->
        <div class="card card-body my-4 bg-light">
            <div class="text-right">
                <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add
                    new comment</a>
                <h5 class="float-left my-1">Comments</h5>
            </div>
            <hr>
            <% if(campground.comments.length > 0){ %>
            <% campground.comments.forEach((comment)=>{ %>
            <div class="media">
                <img class="mr-3 rounded-circle my-2" src="<%=comment.author.photo%>">
                <div class="media-body">
                    <p class="float-right">
                        <%=comment.created.toAgo()%>
                    </p>
                    <h5 class="mt-0">
                        <a href="/users/<%=comment.author._id%>">
                            <%=comment.author.name%></a>
                    </h5>
                    <p>
                        <%=comment.text%>
                    </p>
                    <% if(currentUser && comment.author._id.equals(currentUser._id)){ %>
                    <div class="mt-2">
                        <form class="d-inline float-right ml-2" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE"
                            method="POST">
                            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                        </form>
                        <a class="btn btn-success btn-sm float-right" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                    </div>
                    <% } %>
                </div>
            </div>
            <% }) %>
            <% }else{ %>
            <p>No comments found! Be the first person</p>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer %>