<% include ../partials/header %>

<form class="signinPanel" action="/users/<%=user._id%>?_method=PUT" method="POST">
    <h1 class="text-center">Edit profile</h1>
    <div class="form-group">
        <label for="nameInput">Full name</label>
        <input type="text" class="form-control" id="nameInput" name="name" value="<%=user.name%>" required>
    </div>
    <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" class="form-control" id="emailInput" name="email" value="<%=user.email%>" required>
    </div>
    <div class="form-group">
        <label for="photoInput">Profile photo</label>
        <input type="text" class="form-control" id="photoInput" name="photo" value="<%=user.photo%>" required>
    </div>
    <div class="form-group">
        <label for="bioInput">Bio</label>
        <input type="text" class="form-control" id="bioInput" name="bio" value="<%=user.bio%>">
    </div>
    <div class="form-group">
        <label for="adminCodeInput">Admin Code</label>
        <input type="text" class="form-control" id="adminCodeInput" name="admin">
    </div>
    <div class="form-group my-4">
        <input class="btn btn-success btn-block" type="submit">
    </div>
</form>

<% include ../partials/footer %>