<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alerts %>

<div id="profilePanel">
    <div class="row">
        <div class="col-md-4">
            <img class="rounded fixed-ratio profilePhoto" src="<%=user.photo%>">
        </div>
        <div class="col-md-8">
            <div>
                <h1>
                    <%=user.name%>
                    <% if(user.isAdmin){ %>
                        <i class="fas fa-key"></i>
                    <% } %>
                </h1>
                <p>
                    <%=user.campgrounds.length%> campgrounds <%=likes%> likes</p>
                <h4>
                    <%=user.username%>
                </h4>
                <p>
                    <%=user.bio%>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row my-4">
        <!-- CREATED CAMPGROUNDS -->
        <% if(user.campgrounds.length>0){ %>
        <% user.campgrounds.forEach((campground)=>{ %>
        <div class="col-lg-4 col-md-6">
            <a href="/campgrounds/<%=campground._id%>">
                <div class="card campgroundCard my-2">
                    <img class="card-img-top" src="<%=campground.image%>">
                    <div class="card-body text-dark">
                        <h2 class="card-title text-center">
                            <%=campground.name%>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <% }) %>
        <% }else{ %>
        <p class="text-center w-100">No campgrounds found!</p>
        <% } %>
    </div>
</div>

<% include ../partials/footer %>